@model ViewHomePageViewModel
<link rel="stylesheet" href="~/css/view/home.css" asp-append-version="true" />

<section id="welcome" class="mu-5">
    <div class="row welcome-row">
        <div class="header-col col-lg-6 col-md-6 col-s-6 col-12 d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-0" style="height: 0px;"></div>
                <div class="col-lg-9 col-md-9 col-12">
                    <div class="welcome-text">
                        <h1 class="text-white header-socrates">
                            @{
                                if (Model.WelcomeView.Header != null)
                                {
                                    string title = Model.WelcomeView.Header.Replace("\r\n", "<br />");
                                    @Html.Raw(title)
                                }
                            }
                        </h1>
                        <div class="description-socrates">
                            @{
                                if (Model.WelcomeView.Description != null)
                                {
                                    string title = Model.WelcomeView.Description.Replace("\r\n", "<br />");
                                    @Html.Raw(title)
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="socrates-col col-lg-6 col-md-6 col-s-6 col-12 d-flex justify-content-end position-relative">
            <img src="~/images/socrates.png" class="img-fluid socrates-img" />
        </div>
    </div> 
</section>

<section id="about">
    <div class="section-header">
        @Localizer["AboutMe"]
    </div>
    <div class="container about-box">
        <div class="row pb-5 pt-5 d-flex align-items-center justify-content-center">
            <div class="col-lg-5 order-lg-2 col-md-12 text-center align-self-center pb-2 pt-2">
                <img class="about-image" src="@(Model.AboutMeView.ImageUrl != null ? Model.AboutMeView.ImageUrl : @"\images\aboutme\default-aboutme.jpg")" />
            </div>
            <div class="col-lg-7 order-lg-1 col-md-12 d-flex align-items-center justify-content-center pb-2 pt-2">
                <div>
                    <h3 class="text-center text-white">@Model.AboutMeView.Title</h3>
                    <p class="text-center">
                        @{
                            if (Model.AboutMeView.Description != null)
                            {
                                string title = Model.AboutMeView.Description.Replace("\r\n", "<br />");
                                @Html.Raw(title)
                            }
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="section-header">
        @Localizer["Skills"]
    </div>
    <div class="container skills-box">
        <div class="row pb-5 pt-5 d-flex align-items-center justify-content-center">
            @foreach(var obj in Model.SkillViews)
            {
                <div class="col-lg-2 col-md-4 col-6 mb-2 mt-2 text-center d-flex align-items-center justify-content-center">
                    <div>
                    <img src="@(obj.ImageUrl != null ? obj.ImageUrl : @"\images\skills\default-skill.png")" width="50px" height="50px" />
                    <h5 class="text-white m-3">@obj.Name</h5>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="section-header">
        @Localizer["Portfolio"]
    </div>
    <div class="portfolio container">
        <div class="container">
            <div class="row pb-5 pt-5">
                @foreach(var obj in Model.ProjectViews)
                {
                    <div class="col-lg-4 px-5 pb-5">
                        <div class="project-box text-center">
                            <img src="@(obj.ImageUrl != null ? obj.ImageUrl : @"\images\projects\default-project.png")" class="project-img" />
                            <div class="text-white pb-1 m-3" style="font-size: 25px;">@obj.Name</div>
                            <div class="cover text-center">
                                <div class="description-box">
                                    <div class="text-white pb-3 m-3" style="font-size: 25px;">@obj.Name</div>
                                    <p class="text-white m-3">
                                        @{
                                            if (obj.Description != null)
                                            {
                                                string title = obj.Description.Replace("\r\n", "<br />");
                                                @Html.Raw(title)
                                            }
                                        }
                                    </p>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    @if (!string.IsNullOrEmpty(obj.GitRepositoryUrl))
                                    {
                                        <a class="btn btn-dark" target="_blank" href="@obj.GitRepositoryUrl">
                                            <i class="bi bi-git text-white" style="font-size: 20px;"></i> <br> @Localizer["Repository"]
                                        </a>
                                    }
                                    @if (!string.IsNullOrEmpty(obj.ProjectWebsiteUrl))
                                    {
                                        <a class="btn btn-dark" target="_blank" href="@obj.ProjectWebsiteUrl">
                                            <i class="bi bi-globe text-white" style="font-size: 20px;"></i> <br> @Localizer["Website"]
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="section-header">
        @Localizer["Contact"]
    </div>
    <div class="container contact-box">
        <div class="row pb-5 pt-5">
            <div class="col-lg-4 order-lg-1 order-2 p-5 d-flex align-items-center justify-content-center">
                <ul>
                    @foreach(var obj in Model.Contacts)
                    {
                        <li>
                            <a href="@obj.UrlAddress">
                                <i class="@(obj.Icon != null ? obj.Icon : "bi bi-person-rolodex") contact-icon"></i>
                                 @obj.Content
                                <div class="li-cover"></div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-lg-2 order-lg-2"></div>
            <div class="col-lg-6 order-lg-3 order-1 d-flex align-items-center justify-content-center">
                <partial name="_ContactForm" model="new ContactForm()" />
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

