@model ViewHomePageViewModel
<link rel="stylesheet" href="~/css/view/home.css" asp-append-version="true" />

<section id="welcome" class="mu-5" style="min-height: 400px;">
    <div class="row" style="height: 100vh;">
        <div class="col-lg-6 col-md-6 col-5 d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-3"></div>
                <div class="col-lg-9 col-md-9 col-9">
                    <h1 class="text-white header-socrates">
                        @{
                            if (Model.Welcome.Header != null)
                            {
                                string title = Model.Welcome.Header.Replace("\r\n", "<br />");
                                @Html.Raw(title)
                            }
                        }
                        </h1>
                    <div class="text-white">
                        @{
                            if (Model.Welcome.Description != null)
                            {
                                string title = Model.Welcome.Description.Replace("\r\n", "<br />");
                                @Html.Raw(title)
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-7 d-flex justify-content-end position-relative">
            <img src="~/images/socrates.png" class="img-fluid socrates-img" />
        </div>
    </div> 
</section>

<section id="about">
    <div class="section-header">
        <h1 class="text-white">
            O mnie
        </h1>
    </div>
    <div class="container about-box">
        <div class="row pb-5 pt-5 d-flex align-items-center justify-content-center">
            <div class="col-lg-5 order-lg-2 col-md-12 text-center align-self-center pb-2 pt-2">
                <img class="about-image" src="@(Model.AboutMe.ImageUrl != null ? Model.AboutMe.ImageUrl : @"\images\aboutme\default-aboutme.jpg")" />
            </div>
            <div class="col-lg-7 order-lg-1 col-md-12 d-flex align-items-center justify-content-center pb-2 pt-2">
                <div>
                    <h3 class="text-center text-white">@Model.AboutMe.Title</h3>
                    <p class="text-center">
                        @{
                            if (Model.AboutMe.Description != null)
                            {
                                string title = Model.AboutMe.Description.Replace("\r\n", "<br />");
                                @Html.Raw(title)
                            }
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="section-header">
        <h1 class="text-white">
            Umiejętności
        </h1>
    </div>
    <div class="container skills-box">
        <div class="row pb-5 pt-5 d-flex align-items-center justify-content-center">
            @foreach(var obj in Model.Skills)
            {
                <div class="col-lg-2 col-md-4 col-6 mb-2 mt-2 text-center d-flex align-items-center justify-content-center">
                    <div>
                    <img src="@(obj.ImageUrl != null ? obj.ImageUrl : @"\images\skills\default-skill.png")" width="50px" height="50px" />
                    <h5 class="text-white m-3">@obj.Name</h5>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="section-header">
        <h1 class="text-white">
            Portfoltio
        </h1>
    </div>
    <div class="portfolio container">
        <div class="container">
            <div class="row pb-5 pt-5">
                @foreach(var obj in Model.Projects)
                {
                    <div class="col-lg-4 px-5 pb-5">
                        <div class="project-box text-center">
                            <img src="@(obj.ImageUrl != null ? obj.ImageUrl : @"\images\projects\default-project.png")" class="project-img" />
                            <div class="text-white pb-1 m-3" style="font-size: 25px;">@obj.Name</div>
                            <div class="cover text-center">
                                <div class="text-white pb-3 m-3" style="font-size: 25px;">@obj.Name</div>
                                <p class="text-white m-3">
                                    @{
                                        if (obj.Description != null)
                                        {
                                            string title = obj.Description.Replace("\r\n", "<br />");
                                            @Html.Raw(title)
                                        }
                                    }
                                </p>
                                <a class="btn btn-dark" href="@obj.GitRepositoryUrl" style="position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);">
                                    <i class="bi bi-github text-white" style="font-size: 35px;"></i> <br> Repozytorium
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="section-header">
        <h1 class="text-white">
            Kontakt
        </h1>
    </div>
    <div class="container contact-box">
        <div class="row pb-5 pt-5">
            <div class="col-lg-4 order-lg-1 order-2 p-5 d-flex align-items-center justify-content-center">
                <ul>
                    @foreach(var obj in Model.Contacts)
                    {
                        <li>
                            <a href="@obj.UrlAddress">
                                <i class="@(obj.Icon != null ? obj.Icon : "bi bi-person-rolodex") contact-icon"></i>
                                 @obj.Content
                                <div class="li-cover"></div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-lg-2 order-lg-2"></div>
            <div class="col-lg-6 order-lg-3 order-1 d-flex align-items-center justify-content-center">
                <partial name="_ContactForm" model="new ContactForm()" />
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}
