@model List<Contact>

<style>
    #box {
        padding-top: 5%;
        margin-bottom: 10%;
    }

        #box th {
            background-color: #1E2427;
            color: #e3e3e3;
        }

        #box td {
            background-color: #151a1c;
            color: #e3e3e3;
            border-bottom: 1px solid #1E2427;
        }


    .add-btn {
        width: 200px;
        float: right;
    }

    .details-btn {
        width: 200px;
        height: 50px;
        float: right;
    }

    .upsert-btn {
        width: 200px;
        height: 50px;
        float: right;
    }

    .delete-btn {
        width: 200px;
        height: 50px;
        float: right;
    }

    .contact-icon {
        font-size: 30px;
    }


    @@media (max-width: 768px) {

        .add-btn {
            width: 100px;
        }

        .details-btn {
            width: 100px;
            height: 40px;
        }

        span {
            display: none;
        }

        .upsert-btn {
            width: 100px;
            height: 40px;
        }

        .delete-btn {
            width: 100px;
            height: 40px;
        }

        .contact-icon {
            font-size: 80px;
        }

</style>

<section id="box">
    <div class="container">
        <div class="header text-center mb-5">
            <h1 class="text-white">Kontakty</h1>
        </div>
        <table class="table bg-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Ikona</th>
                    <th scope="col">
                        <a asp-controller="Contact" asp-action="Upsert" class="btn btn-dark add-btn">
                            <i class="bi bi-plus-circle"></i>
                            Dodaj
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model)
                {
                    <tr>
                        <td>@obj.Id</td>
                        <td>
                            @obj.Name
                        </td>
                        <td class="contact-icon">
                            <i class="@(obj.Icon != null ? obj.Icon : "bi bi-person-rolodex")"></i>
                        </td>
                        <td class="text-center">
                            <a onClick=Delete('/admin/contacts/delete/@obj.Id') class="btn btn-danger delete-btn">
                                <i class="bi bi-trash-fill"></i>
                                <span>Delete</span>
                            </a>
                            <a asp-controller="Contact" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-dark upsert-btn">
                                <i class="bi bi-pen"></i>
                                <span>Edytuj</span>
                            </a>
                            <a asp-controller="Contact" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-outline-dark details-btn">
                                <i class="bi bi-search"></i>
                                <span>Podgląd</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<script src="~/js/admin.js"></script>