@model AdminEmailsEmailConfigureDetailsPageViewModel

<style>
    #box {
        padding-top: 10%;
        margin-bottom: 10%;
    }

    #box th {
        background-color: #1E2427;
        color: white;
    }

    #box td {
        background-color: #151a1c;
        color: white;
        border-bottom: 1px solid #1E2427;
    }

    .box {
        background-color: #151a1c;
    }

    .detail-box {
        margin-bottom: 30px;
    }

    .detail-box h5 {
        color: white;
    }

    .project-img {
        height: 200px;
        width: 200px;
    }


</style>

<section id="box">
    <div class="container">
        <div class="row">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">Wiadomość</h1>

                <div class="detail-box">
                    <h5>Temat</h5>
                    @Model.EmailMessageContent.Subject
                </div>

                <div class="detail-box">
                    <h5>Treść</h5>
                    @{
                        if (Model.EmailMessageContent.Content != null)
                        {
                            string title = Model.EmailMessageContent.Content.Replace("\r\n", "<br />");
                            @Html.Raw(title)
                        }
                    }
                </div>

                <a asp-controller="Emails" asp-action="MessageEdit" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">Edytuj</a>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">Email</h1>

                <div class="detail-box">
                    <h5>Email</h5>
                    @Model.EmailSettings.Email
                </div>

                <div class="detail-box">
                    <h5>Serwer SMTP</h5>
                    @Model.EmailSettings.SmtpServer
                </div>

                <div class="detail-box">
                    <h5>Port SMTP</h5>
                    @Model.EmailSettings.SmtpPort
                </div>

                <div class="detail-box">
                    <h5>Szyfrowanie SMTP</h5>
                    @Model.EmailSettings.Encryption (@(Model.EmailSettings.SmtpPort == 587 ? "StartTLS" : "SSL/TLS"))
                </div>

                <a asp-controller="Emails" asp-action="EmailEdit" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">Edytuj</a>

            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <a asp-controller="Emails" asp-action="Index" class="btn btn-dark mb-2 col-12">Wróc</a>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>

    </div>
</section>