@model EmailSettings

<style>
    #box {
        padding-top: 10%;
        margin-bottom: 10%;
    }

    #box th {
        background-color: #1E2427;
        color: white;
    }

    #box td {
        background-color: #151a1c;
        color: white;
        border-bottom: 1px solid #1E2427;
    }

    .box {
        background-color: #151a1c;
    }

    .detail-box {
        margin-bottom: 30px;
    }

    .detail-box h5 {
        color: white;
    }

    .project-img {
        height: 200px;
        width: 200px;
    }


</style>

<section id="box">
    <div class="container">
        <div class="row">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">Formularz Kontakowy</h1>

                <div class="detail-box">
                    <h5>Email</h5>
                    @Model.Email
                </div>

                <div class="detail-box">
                    <h5>Hasło</h5>
                    @Model.Password
                </div>

                <div class="detail-box">
                    <h5>Serwer SMTP</h5>
                    @Model.SmtpServer
                </div>

                <div class="detail-box">
                    <h5>Port SMTP</h5>
                    @Model.SmtpPort
                </div>

                <div class="detail-box">
                    <h5>Szyfrowanie SMTP</h5>
                    @Model.Encryption (@(Model.SmtpPort == 587 ? "StartTLS" : "SSL/TLS"))
                </div>

                <a asp-controller="ContactForm" asp-action="Edit" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">Edytuj</a>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>
    </div>
</section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}