@using portfolio.Models.AboutMe
@model AboutMe
<link rel="stylesheet" href="~/css/admin/datails.css" />

<section id="box">
    <div class="container">
        <div class="row">
            <div class="col-0 col-lg-3 col-md-2"></div>
            <div class="col-12 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">@Localizer["EditAboutMe"]</h1>
                    <form method="post" enctype="multipart/form-data">
                        <input asp-for="ImageUrl" hidden />
                        <div class="form-group mb-4">
                            <label class="text-white">@Localizer["Header"] (ENG)</label>
                            <input asp-for="HeaderENG" class="form-control" placeholder="@Localizer["HeaderPlaceHolder"]">
                            <span asp-validation-for="HeaderENG" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label class="text-white">@Localizer["Header"] (PL)</label>
                            <input asp-for="HeaderPL" class="form-control" placeholder="@Localizer["HeaderPlaceHolder"]">
                            <span asp-validation-for="HeaderPL" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                        <label class="text-white">@Localizer["Content"] (ENG)</label>
                            <textarea asp-for="ContentENG" class="form-control" placeholder="@Localizer["ContentPlaceHolder"]"></textarea>
                            <span asp-validation-for="ContentENG" class="text-danger"></span>
                        </div>
                    <div class="form-group mb-4">
                        <label class="text-white">@Localizer["Content"] (PL)</label>
                        <textarea asp-for="ContentPL" class="form-control" placeholder="@Localizer["ContentPlaceHolder"]"></textarea>
                        <span asp-validation-for="ContentPL" class="text-danger"></span>
                    </div>
                        <div class="form-group mb-3">
                            <label class="text-white">@Localizer["Image"]</label>
                            <input type="file" name="file" asp-for="ImageUrl" class="form-control border-0 shadow" />
                            @if (Model.ImageUrl != null)
                            {
                                <a asp-controller="general" asp-action="DeleteImage" class="btn btn-outline-dark col-12">@Localizer["RemoveImageButton"]</a>
                            }
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">@Localizer["EditButton"]</button>
                            <a asp-controller="aboutme" asp-action="index" class="btn btn-outline-dark mb-2 col-12 col-md-6 col-lg-3">@Localizer["BackButton"]</a>
                        </div>
                    </form>
            </div>
            <div class="col-0 col-lg-3 col-md-2"></div>
        </div>
    </div>
</section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}