@model AboutMe
<link rel="stylesheet" href="~/css/admin/datails.css" asp-append-version="true" />

<section id="box">
    <div class="container">
        <div class="row">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">@Localizer["AboutMe"]</h1>

                <div class="detail-box">
                    <h5>@Localizer["Title"]</h5>
                    @Model.Title
                </div>

                <div class="detail-box">
                    <h5>@Localizer["Description"]</h5>
                    @{
                        if (Model.Description != null)
                        {
                            string title = Model.Description.Replace("\r\n", "<br />");
                            @Html.Raw(title)
                        }
                    }
                </div>

                <div class="detail-box">
                    <h5>@Localizer["Image"]</h5>
                    <img class="project-img" src="../../../@(Model.ImageUrl != null ? Model.ImageUrl : @"\images\projects\default-project.png")"></img>
                </div>

                <a asp-controller="AboutMe" asp-action="Edit" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">@Localizer["EditButton"]</a>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>
    </div>
</section>