@model List<Skill>

<style>
    #box {
        padding-top: 10%;
        margin-bottom: 10%;
    }

    #box th {
        background-color: #1E2427;
        color: white;
    }

    #box td {
        background-color: #151a1c;
        color: white;
        border-bottom: 1px solid #1E2427;
    }
</style>

<section id="box">
    <div class="container">
        <table class="table bg-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Umiejętność</th>
                    <th scope="col">Obrazek</th>
                    <th scope="col"><a asp-controller="skills" asp-action="create" class="btn btn-dark" style="width: 50%; float:right;">Dodaj</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model)
                {
                    <tr>
                        <td>@obj.Id</td>
                        <td>@obj.Name</td>
                        <td><img height="30px" width="30px" src="@obj.ImageUrl"></img></td>
                        <td class="text-center">
                            <a asp-controller="skills" asp-action="edit" asp-route-id="@obj.Id" class="btn btn-dark" style="width: 40%; margin-right: 15px;">Edytuj</a>
                            <a asp-controller="skills" asp-action="delete" asp-route-id="@obj.Id" class="btn btn-danger" style="width: 30%;">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>