@model AdminEmailsViewModel

<style>
    #box {
        padding-top: 5%;
        margin-bottom: 10%;
    }

        #box th {
            background-color: #1E2427;
            color: #e3e3e3;
        }

        #box td {
            color: #e3e3e3;
            border-bottom: 1px solid #1E2427;
        }
      

    .add-btn {
        width: 200px;
        float: right;
    }

    .details-btn {
        width: 200px;
        height: 50px;
        float: right;
    }

    .upsert-btn {
        width: 200px;
        height: 50px;
        float: right;
    }

    .delete-btn {
        width: 200px;
        height: 50px;
        float: right;
    }

    .project-img {
        width: 50px;
        height: 50px;
    }


    @@media (max-width: 768px) {

        .add-btn {
            width: 100px;
        }

        .details-btn {
            width: 100px;
            height: 40px;
        }

        span {
            display: none;
        }

        .upsert-btn {
            width: 100px;
            height: 40px;
        }

        .delete-btn {
            width: 100px;
            height: 40px;
        }

        .project-img {
            width: 120px;
            height: 120px;
        }

</style>

<section id="box">
    <div class="container">
        <div class="header text-center mb-5">
            <h1 class="text-white">Wiadomości (@Model.UnreadEmailMessages / @Model.EmailMessages.Count())</h1>
        </div>
        <table class="table">
            <thead>
                <th scope="col">#</th>
                <th scope="col">eMail</th>
                <th scope="col">Temat</th>
                <th scope="col">
                    <a asp-controller="Emails" asp-action="EmailConfigure" class="btn btn-dark add-btn">
                        <i class="bi bi-gear"></i>
                        Kontakty
                    </a>
                    <a asp-controller="Contact" asp-action="EmailConfigure" class="btn btn-dark add-btn">
                        <i class="bi bi-gear"></i>
                        Email
                    </a>
                </th>
            </thead>
            <tbody>
                @{
                    DateTime? dateTime = null;
                }
                @foreach(var obj in Model.EmailMessages)
                {

                    @if (dateTime != obj.SentAt.Date)
                    {
                        dateTime = obj.SentAt.Date;

                        <tr class="table-dark">
                            <td>@obj.SentAt.Date.ToString("yyyy-MM-dd")</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }

                    <tr class="@(obj.IsReaded ? "table-dark" : "table-secondary")">
                        <td>@obj.SentAt.Hour:@obj.SentAt.Minute</td>
                        <td>
                            @obj.Email
                        </td>
                        <td>
                            @obj.Subject
                        </td>
                        <td class="text-center">
                            <a onClick=Delete('/admin/contact/delete/@obj.Id') class="btn btn-danger delete-btn">
                                <i class="bi bi-trash-fill"></i>
                                <span>Delete</span>
                            </a>
                            <a asp-controller="Contact" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-outline-dark details-btn">
                                <i class="bi bi-search"></i>
                                <span>Podgląd</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<script src="~/js/admin.js"></script>