@model AutoEmailMessageContent
<link rel="stylesheet" href="~/css/admin/datails.css" />

<section id="box">
    <div class="container">
        <div class="row">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">@Localizer["EditMessage"]</h1>
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group mb-4">
                            <label class="text-white">@Localizer["Subject"] (ENG)</label>
                            <input asp-for="SubjectENG" class="form-control" placeholder="@Localizer["SubjectPlaceholder"]">
                        </div>
                        <div class="form-group mb-4">
                            <label class="text-white">@Localizer["Subject"] (PL)</label>
                            <input asp-for="SubjectPL" class="form-control" placeholder="@Localizer["SubjectPlaceholder"]">
                        </div>
                        <div class="form-group mb-4">
                            <label class="text-white">@Localizer["Content"] (ENG)</label>
                            <textarea asp-for="ContentENG" class="form-control" placeholder="@Localizer["ContentPlaceholder"]"></textarea>
                        </div>
                        <div class="form-group mb-4">
                            <label class="text-white">@Localizer["Content"] (PL)</label>
                            <textarea asp-for="ContentPL" class="form-control" placeholder="@Localizer["ContentPlaceholder"]"></textarea>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">@Localizer["EditButton"]</button>
                            <a asp-controller="contact" asp-action="emailconfigure" class="btn btn-outline-dark mb-2 col-12 col-md-6 col-lg-3">@Localizer["BackButton"]</a>
                        </div>
                    </form>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>
    </div>
</section>