@model AdminGeneralViewModel
<link rel="stylesheet" href="~/css/admin/datails.css" />

<section id="box">
    <div class="container">

        
        <div class="row mb-2">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">@Localizer["TabTitle"]</h1>

                <div class="detail-box">
                    <h5>@Localizer["TabHeader"] (ENG)</h5>
                    @Model.WebsiteTitle.TitleENG
                </div>
                <div class="detail-box">
                    <h5>@Localizer["TabHeader"] (PL)</h5>
                    @Model.WebsiteTitle.TitlePL
                </div>

                <div class="detail-box">
                    <h5>@Localizer["TabImage"]</h5>
                    @{
                        if (Model.WebsiteTitle.ImageUrl != null)
                        {
                            <img style="height: 50px; width: 50px;" class="project-img" src="../../../@Model.WebsiteTitle.ImageUrl"></img>
                        }
                        else
                        {
                            <p>brak</p>
                        }
                    }
                </div>

                <a asp-controller="General" asp-action="EditWebsiteTitle" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">@Localizer["TabEditButton"]</a>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>

        <div class="row mb-2">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">@Localizer["NavbarTitle"]</h1>

                <div class="detail-box">
                    <h5>@Localizer["NavbarHeader"]</h5>
                    @{
                        if (Model.NavbarLogo.Title != null)
                        {
                            string title = Model.NavbarLogo.Title.Replace("\r\n", "<br />");
                            @Html.Raw(title)
                        }
                    }
                </div>

                <div class="detail-box">
                    <h5>@Localizer["NavbarImage"]</h5>
                    @{
                        if (Model.NavbarLogo.ImageUrl != null)
                        {
                            <img style="height: 50px; width: 50px;" class="project-img" src="../../../@Model.NavbarLogo.ImageUrl"></img>
                        }
                        else
                        {
                            <p>brak</p>
                        }
                    }
                </div>

                <a asp-controller="General" asp-action="EditNavbar" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">@Localizer["NavbarEditButton"]</a>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>

        <div class="row mb-2">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">@Localizer["WelcomeTitle"]</h1>

                <div class="detail-box">
                    <h5>@Localizer["WelcomeHeader"]</h5>
                    @{
                        if (Model.Welcome.Header != null)
                        {
                            string title = Model.Welcome.Header.Replace("\r\n", "<br />");
                            @Html.Raw(title)
                        }
                    }
                </div>

                <div class="detail-box">
                    <h5>@Localizer["WelcomeDescription"]</h5>
                    @{
                        if (Model.Welcome.Description != null)
                        {
                            string title = Model.Welcome.Description.Replace("\r\n", "<br />");
                            @Html.Raw(title)
                        }
                    }
                </div>

                <a asp-controller="General" asp-action="EditWelcome" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">@Localizer["WelcomeEditButton"]</a>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>

        <div class="row mb-2">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">@Localizer["FooterTitle"]</h1>

                <div class="detail-box">
                    <h5>@Localizer["FooterContant"]</h5>
                    @Html.Raw(Model.Footer.Content)
                </div>

                <a asp-controller="General" asp-action="EditFooter" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">@Localizer["FooterEditButton"]</a>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>

        <div class="row mb-2">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">@Localizer["EditPasswordTitle"]</h1>

                <a asp-controller="General" asp-action="EditPassword" class="btn btn-dark col-12">@Localizer["EditPasswordEditButton"]</a>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>

    </div>
</section>